$max-mobile-width: 599px;
$min-desktop-width: $max-mobile-width + 1;

$desktop-toolbar-height: 64px;
$mobile-toolbar-height: 56px;
$double-toolbar-height-mobile: $mobile-toolbar-height * 2;

.wrapper {
  // Account for toolbar
  height: calc(100% - #{$desktop-toolbar-height});
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;

  &.loading {
    justify-content: center;
    align-content: center;
  }

  &.empty {
    flex-direction: column;
    color: rgba(0, 0, 0, .38);
    align-items: center;
  }
}

// Adjust height of wrapper based on screen size
.wrapper {
  @media (max-width: $max-mobile-width) {
    height: calc(100% - #{$double-toolbar-height-mobile});
  }
}

// Flex the header so title/search are better positioned
mat-toolbar {
  display: flex;
  justify-content: space-between;
}

// Desktop specific styles for toolbar
@media (min-width: $min-desktop-width) {
  mat-toolbar.mobile {
    display: none;
  }
}

// Mobile specific styles for toolbar
@media (max-width: $max-mobile-width) {
  mat-toolbar.desktop {
    display: none;
  }
  mat-toolbar.mobile {
    mat-toolbar-row {
      justify-content: center;
    }
    .search-form {
      width: 100%;
    }
  }
}

// Style the search input field so it
// better fits within the toolbar
::ng-deep .search-form {
  color: rgba(0, 0, 0, .87);

  .mat-form-field {
    // centers it within toolbar
    height: 56px;

    .mat-form-field-flex {
      height: 48px;
    }

    // Widen it out and center text within input field
    .mat-form-field-infix {
      width: 288px;
      padding: 0;
      font-size: 18px;
    }
  }
}

// Mobile specific for search field
@media (max-width: $max-mobile-width) {
  ::ng-deep .search-form {
    .mat-form-field {
      width: 100%;

      .mat-form-field-infix {
        width: 100%;
      }
    }
  }
}
// Fix the background color given our theme
::ng-deep .search-form .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

// Style the cards that contain the Best Story information
mat-card {
  display: flex;
  flex-direction: column;

  // Spacing between each card
  margin: 16px;

  // Size constraints
  min-width: 320px;
  max-width: 320px;
  min-height: 188px;
  max-height: 188px;

  // Pushes it down so it is aligned across all cards
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin: 16px 0;
    flex: 1;
  }

  // Push the button to the right
  mat-card-actions {
      display: flex;
      justify-content: flex-end;
  }
}
