<!-- Make the search form a template so we can reuse it -->
<ng-template #searchForm>
    <form class="search-form">
      <mat-form-field appearance="outline" floatLabel="never">
        <input matInput
               [formControl]="searchField"
               placeholder="Search stories (by title)"
        >
      </mat-form-field>
    </form>
</ng-template>

<!-- Desktop toolbar -->
<mat-toolbar color="primary" class="desktop mat-elevation-z2">
  <span>{{ appTitle }}</span>
  <ng-template [ngTemplateOutlet]="searchForm"></ng-template>
</mat-toolbar>

<!-- Mobile toolbar -->
<mat-toolbar color="primary" class="mobile mat-elevation-z2">
  <mat-toolbar-row>
    {{ appTitle }}
  </mat-toolbar-row>
  <mat-toolbar-row>
    <ng-template [ngTemplateOutlet]="searchForm"></ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Loading state -->
<div class="wrapper loading" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- Done loading, but no results -->
<div class="wrapper empty" *ngIf="!loading && !bestStories.length">
  <span class="mat-headline">
    No results found
  </span>
  <span class="mat-title">
    Try adjusting your search text
  </span>
</div>

<!-- Done loading, and we have stories to display -->
<div class="wrapper" *ngIf="!loading && bestStories.length">
  <mat-card *ngFor="let story of bestStories">
    <mat-card-header>
      <mat-card-title>
        {{ story.title }}
      </mat-card-title>
      <mat-card-subtitle>
        By: {{ story.by }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        The score for this story is: <b>{{ story.score }}</b>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="accent" disabled="true">MORE</button>
    </mat-card-actions>
  </mat-card>
</div>

<router-outlet></router-outlet>
